body {

    color: #333;
    text-align:  left;
    font-family: cursive;
    font-size:  16px;
}

form {
    background: #007;
}

#container {
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 10x solid rgb(209, 61, 61);
    margin: 0 auto;
}

#container h1 {
    font-size: 20px;
}